:root {
  --font-family: 'Montserrat', sans-serif;
  --fill-point-color: tomato;
  --semi-transparent-font-color: #a8a8a8;
  --background-body-color: #e8e8e8;
  --primary-font-color: #2c2c2c;
  --accent-color-text: #ff6b08;
  // --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  // --time: 250ms;

  // header
  --background-color-header: #1e2939;

  // contacts icons
  --inactive-color-icon-text: #ffffff;
  --inactive-icon-color: #ffffff;
  --background-accent-icon-color: tomato;
  --background-icon-color: #1e2939;

  // type-skills
  --background-title-color: #1e2939;

  // margins for sections
  --margin-between-sections: 40px 0px 0px 0px;
  // margins for blocks
  --margins-between-blocks: 20px 0px 0px 0px;
  // paddings for blocks
  --paddings-in-blocks: 20px 20px 20px 20px;

  // hover
  --background-color-btn: tomato;
}
