:root {
  --font-family: 'Montserrat', sans-serif;
  --background-body-color: #e8e8e8;
  --primary-font-color: #2c2c2c;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --semi-transparent-font-color: #a8a8a8;
  --time: 250ms;

  // header
  --background-color-header: #1e2939;

  // contacts icons
  --inactive-color-icon-text: #ffffff;
  --background-inactive-icon-color: #afb1b8;
  --background-accent-icon-color: tomato;
}
