<section class="add-education">
  <div class="container">
    <div class="wrapper-education">
      <div class="background-education background-education--padding background-education--hover">
        <h3 class="education__title">
          <button class="education__title__btn" type="button">
            Additional Education / Courses
          </button>
        </h3>
        <!-- <button class="education__title__btn" type="button">Additional Education / Courses</button> -->
      </div>

      <ul id="content-list" class="education-list education-list--hidden">
        <li class="education-list__item">
          <h4 class="education-list__item__institution">Online School Highlights</h4>
          <!-- <p class="education-list__item__data">January 2021 - ……</p> -->

          <ul>
            <li class="education-list__item__position">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Master class on photo retouching by Dmitry Rogozhkina
            </li>
            <li class="education-list__item__position">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Master class on photo retouching by Natalia Muzhetskoy
            </li>
            <li class="education-list__item__position">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Master class on photo retouching by Alejandro Bulenkov
            </li>
            <li class="education-list__item__position">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Master class on photo retouching by Dmitry Rogozhkina
            </li>
            <li class="education-list__item__position">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Fundamentals of Photography
            </li>
            <li class="education-list__item__position">
              <svg class="education-list__item__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Photoshop for beginners
            </li>
          </ul>
        </li>

        <!-- <li class="education-list__item">
          <h4 class="education-list__item__institution">Online School Highlights</h4>
          <p class="education-list__item__position">
           
          </p>
        </li> -->

        <!-- <li class="education-list__item">
          <h4 class="education-list__item__institution">Online School Highlights</h4>
          <p class="education-list__item__position">
            Master class on photo retouching by Alejandro Bulenkov
          </p>
        </li> -->

        <!-- <li class="education-list__item">
          <h4 class="education-list__item__institution">Online School Highlights</h4>
          <p class="education-list__item__position">Fundamentals of Photography</p>
        </li> -->

        <!-- <li class="education-list__item">
          <h4 class="education-list__item__institution">Online School Highlights</h4>
          <p class="education-list__item__position">Photoshop for beginners</p>
        </li> -->

        <li class="education-list__item">
          <h4 class="education-list__item__institution">3M ESPE</h4>
          <!-- <p class="education-list__item__data">September 2005 - June 2008</p> -->

          <ul>
            <li class="education-list__item__position">
              <svg class="education-list__item__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Oral hygiene. Prevention of dental caries and periodontal disease
            </li>
          </ul>
        </li>

        <li class="education-list__item">
          <h4 class="education-list__item__institution">3M ESPE</h4>
          <!-- <p class="education-list__item__data">September 2005 - June 2008</p> -->
          <ul>
            <li class="education-list__item__position">
              <svg class="education-list__item__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Dental Fillings from the 3M ESPE company
            </li>
          </ul>
        </li>

        <li class="education-list__item">
          <h4 class="education-list__item__institution">GC G-aenial</h4>
          <!-- <p class="education-list__item__data">September 2005 - June 2008</p> -->
          <ul>
            <li class="education-list__item__position">
              <svg class="education-list__item__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Restorative dentistry. GC G-aenial advanced composite layering course.
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
