<section class="add-education">
  <div class="container">
    <div class="wrapper-education">
      <div class="background-education">
        <h3 class="education__title">
          <button class="education__title__btn" type="button">
            Additional Education / Courses
          </button>
        </h3>
        <!-- <button class="education__title__btn" type="button">Additional Education / Courses</button> -->
      </div>

      <ul id="content-list" class="education-list education-list--hidden">
        <li class="education-list__item">
          <h4 class="education-list__item__institution">Online School Highlights</h4>
          <!-- <p class="education-list__item__data">January 2021 - ……</p> -->
          <p class="education-list__item__position">
            Master class on photo retouching by Dmitry Rogozhkina
          </p>
        </li>

        <li class="education-list__item">
          <h4 class="education-list__item__institution">Online School Highlights</h4>
          <!-- <p class="education-list__item__data">September 2005 - June 2008</p> -->
          <p class="education-list__item__position">
            Master class on photo retouching by Natalia Muzhetskoy
          </p>
        </li>

        <li class="education-list__item">
          <h4 class="education-list__item__institution">Online School Highlights</h4>
          <!-- <p class="education-list__item__data">September 2005 - June 2008</p> -->
          <p class="education-list__item__position">
            Master class on photo retouching by Alejandro Bulenkov
          </p>
        </li>

        <li class="education-list__item">
          <h4 class="education-list__item__institution">Online School Highlights</h4>
          <!-- <p class="education-list__item__data">September 2005 - June 2008</p> -->
          <p class="education-list__item__position">Fundamentals of Photography</p>
        </li>

        <li class="education-list__item">
          <h4 class="education-list__item__institution">Online School Highlights</h4>
          <!-- <p class="education-list__item__data">September 2005 - June 2008</p> -->
          <p class="education-list__item__position">Photoshop for beginners</p>
        </li>

        <li class="education-list__item">
          <h4 class="education-list__item__institution">3M ESPE</h4>
          <!-- <p class="education-list__item__data">September 2005 - June 2008</p> -->
          <p class="education-list__item__position">
            Oral hygiene. Prevention of dental caries and periodontal disease
          </p>
        </li>

        <li class="education-list__item">
          <h4 class="education-list__item__institution">3M ESPE</h4>
          <!-- <p class="education-list__item__data">September 2005 - June 2008</p> -->
          <p class="education-list__item__position">Dental Fillings from the 3M ESPE company</p>
        </li>

        <li class="education-list__item">
          <h4 class="education-list__item__institution">GC G-aenial</h4>
          <!-- <p class="education-list__item__data">September 2005 - June 2008</p> -->
          <p class="education-list__item__position">
            Restorative dentistry. GC G-aenial advanced composite layering course.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
