<section class="experience">
  <div class="container container-experience--position">
    <div class="wrapper-experience">
      <div class="background-projects">
        <h3 class="projects__title">Project experience</h3>
      </div>

      <ul class="projects-list">
        <li class="projects-list__item">
          <h4 class="projects-list__name">Project name:</h4>
          <p class="projects-list__link">Project link:</p>
          <p class="projects-list__technologies">
            Technologies: HTML5 - CSS3 - JS - GULP - SASS – BEM
          </p>
          <p class="projects-list__about">
            About project: mobile-first adaptive web-page with authorization, profile page, ability
            to add new products and order confirmation.
          </p>
        </li>

        <li class="projects-list__item">
          <h4 class="projects-list__name">Project name:</h4>
          <p class="projects-list__link">Project link:</p>
          <p class="projects-list__technologies">
            Technologies: HTML5 - CSS3 - JS - GULP - SASS – BEM
          </p>
          <p class="projects-list__about">
            About project: mobile-first adaptive web-page with authorization, profile page, ability
            to add new products and order confirmation.
          </p>
        </li>
      </ul>
    </div>

    <div class="wrapper-experience">
      <div class="background-experience">
        <h3 class="experience-title">Work Experience</h3>
      </div>

      <ul class="experience-list">
        <li class="experience-list__item">
          <h4 class="experience-list__position">Front-End Developer Freelance</h4>

          <p class="experience-list__data">September 2019 - up to now | Ukraine</p>

          <ul class="experience-list__progress">
            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Lorem ipsum dolor sit amet.
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Lorem ipsum dolor
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Lorem ipsum dolor
            </li>
          </ul>
        </li>
        <li class="experience-list__item">
          <h4 class="experience-list__position">Front-End Developer Freelance</h4>

          <p class="experience-list__data">September 2019 - up to now | Ukraine</p>

          <ul class="experience-list__progress">
            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Lorem ipsum dolor sit amet.
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Lorem ipsum dolor
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Lorem ipsum dolor
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
