<section class="experience">
  <div class="container container-experience--position">
    <div class="wrapper-experience">
      <div class="background-projects">
        <h3 class="projects__title">Project experience</h3>
      </div>

      <ul class="projects-list">
        <li class="projects-list__item">
          <h4 class="projects-list__name">
            Project name: <span class="projects-list__name__project">Web Studio</span>
          </h4>
          <p class="projects-list__link">
            Project link:
            <a href="https://alexdvor.github.io/goit-markup-hw-08/" target="_blank">Web Studio</a>
          </p>
          <p class="projects-list__technologies">Technologies: HTML5 - CSS3 - JS - SASS – BEM</p>
          <p class="projects-list__about">
            About project: mobile-first adaptive web-page with authorization, profile page, ability
            to add new products and order confirmation.
          </p>
        </li>

        <li class="projects-list__item">
          <h4 class="projects-list__name">
            Project name: <span class="projects-list__name__project">Hellen</span>
          </h4>
          <p class="projects-list__link">
            Project link:
            <a href="https://alexdvor.github.io/hellen/" target="_blank">Hellen</a>
          </p>
          <p class="projects-list__technologies">Technologies: HTML5 - CSS3 - JS - SASS – BEM</p>
          <p class="projects-list__about">
            About project: mobile-first adaptive web-page with authorization, profile page, ability
            to add new products and order confirmation.
          </p>
        </li>

        <li class="projects-list__item">
          <h4 class="projects-list__name">
            Project name: <span class="projects-list__name__project">Movie Gallery</span>
          </h4>
          <p class="projects-list__link">
            Project link:
            <a href="https://alexdvor.github.io/film_library/" target="_blank">Movie Gallery</a>
          </p>
          <p class="projects-list__technologies">Technologies: HTML5 - CSS3 - JS - SASS – BEM</p>
          <p class="projects-list__about">
            About project: mobile-first adaptive web-page with authorization, profile page, ability
            to add new products and order confirmation.
          </p>
        </li>

        <li class="projects-list__item">
          <h4 class="projects-list__name">
            Project name: <span class="projects-list__name__project">Barber Shop</span>
          </h4>
          <p class="projects-list__link">
            Project link:
            <a href="https://alexdvor.github.io/barber-shop/" target="_blank">Barber Shop</a>
          </p>
          <p class="projects-list__technologies">Technologies: HTML5 - CSS3 - JS - SASS – BEM</p>
          <p class="projects-list__about">
            About project: mobile-first adaptive web-page with authorization, profile page, ability
            to add new products and order confirmation.
          </p>
        </li>
      </ul>
    </div>

    <div class="wrapper-experience">
      <div class="background-experience">
        <h3 class="experience-title">Work Experience</h3>
      </div>

      <ul class="experience-list">
        <li class="experience-list__item">
          <h4 class="experience-list__position">
            E-commerce <span class="experience-list__place">Shopify</span>
          </h4>
          <p class="experience-list__data">January 2020 - January 2021 | Spain</p>
          <ul class="experience-list__progress">
            <li class="experience-list__progress__item">
              <!-- <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg> -->
              Installation, configuration, administration in Shopify. Editing video clips for social
              networks (Instagram, Facebook, etc.) using Adobe Premiere Pro / Adobe After Effects.
              Processing, elimination of defects and color correction of images using Adobe
              Photoshop / Adobe Photoshop Lightroom. Basic knowledge of Facebook Ads, Google
              Analytics and Google Ads.
            </li>
          </ul>
        </li>

        <li class="experience-list__item">
          <h4 class="experience-list__position">
            Dental hygienist <span class="experience-list__place">C&S Dental</span>
          </h4>
          <p class="experience-list__data">June 2019 - January 2020 | Spain</p>
          <ul class="experience-list__progress">
            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Tartrectomies
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Scraped
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Periodontal maintenance
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Whitening
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Sterilization and disinfection of materials
            </li>
          </ul>
        </li>

        <li class="experience-list__item">
          <h4 class="experience-list__position">
            Restaurant <span class="experience-list__place">La Grada</span>
          </h4>
          <p class="experience-list__data">November 2016 - July 2017 | Spain</p>
          <ul class="experience-list__progress">
            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Kitchen assistant
            </li>
          </ul>
        </li>

        <li class="experience-list__item">
          <h4 class="experience-list__position">
            Domestic service and maintenance <span class="experience-list__place">Málaga</span>
          </h4>
          <p class="experience-list__data">May 2015 - June 2021 | Spain</p>
          <ul class="experience-list__progress">
            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Cleaner of offices, houses, maintenance
            </li>
          </ul>
        </li>

        <li class="experience-list__item">
          <h4 class="experience-list__position">
            Dentist <span class="experience-list__place">Levo dent</span>
          </h4>
          <p class="experience-list__data">January 2013 - March 2015 | Ukraine</p>
          <ul class="experience-list__progress">
            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Dental filling
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Mouth cleaning
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Endodontics
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Whitening
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Carrying out oral radiography
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Prosthodontics
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Dental Aesthetics
            </li>
          </ul>
        </li>

        <li class="experience-list__item">
          <h4 class="experience-list__position">
            Dentist <span class="experience-list__place">Andromeda Dubno</span>
          </h4>
          <p class="experience-list__data">February 2009 - October 2012 | Ukraine</p>
          <ul class="experience-list__progress">
            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Dental filling
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Mouth cleaning
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Endodontics
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Whitening
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Carrying out oral radiography
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Prosthodontics
            </li>

            <li class="experience-list__progress__item">
              <svg class="experience-list__progress__icon" width="5px" height="5px">
                <use href="./images/symbol-defs.svg#icon-point"></use>
              </svg>
              Dental Aesthetics
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
