<header class="header">
  <div class="container">
    <div class="wrapper-header">
      <div class="wrapper-name">
        <h1 class="name">Oleksii Matviichuk</h1>
      </div>
      <div class="wrapper-profile">
        <img
          class="wrapper-profile__img"
          src="./images/default-img.png"
          alt="oleksii"
          width="150px"
          height="150px"
        />
      </div>
    </div>

    <p class="profession">Front-End Developer</p>

    <div class="wrapper-contacts">
      <ul class="contacts-list">
        <li>
          <a class="contacts-list__link" href="#">
            <svg width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li>
          <a class="contacts-list__link" href="#">
            <svg width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-gmail"></use>
            </svg>
          </a>
        </li>

        <li>
          <a class="contacts-list__link" href="#">
            <svg width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>

        <li>
          <a class="contacts-list__link" href="#">
            <svg width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-skype"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <p class="about-me">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, atque maxime distinctio
      hic mollitia, consequuntur molestiae, suscipit nesciunt aspernatur beatae in et eaque dicta
      iste at fugit. Hic, blanditiis fuga!
    </p>
  </div>
</header>
