<header class="header">
  <div class="container">
    <div class="wrapper-profile">
      <img
        class="wrapper-profile__img"
        src="./images/default-img.png"
        alt="oleksii"
        width="150px"
        height="150px"
      />
    </div>

    <h1 class="name">Oleksii Matviichuk</h1>
    <p class="profession">Front-End Developer</p>
    <ul>
      <li>age</li>
      <li>Address</li>
      <li>Email</li>
      <li>Phone</li>
    </ul>
    <ul>
      <li>GitHUb</li>
      <li>Gmail</li>
      <li>LinkedIn</li>
      <li>Skype</li>
    </ul>
  </div>
</header>
