<header class="header">
  <div class="container">
    <div class="wrapper-header">
      <div class="wrapper-name">
        <h1 class="name">Oleksii Matviichuk</h1>
      </div>
      <div class="wrapper-profile">
        <img
          class="wrapper-profile__img"
          src="./images/default-img.png"
          alt="oleksii"
          width="150px"
          height="150px"
        />
      </div>
    </div>
    <p class="profession">Front-End Developer</p>
    <ul class="contacts">
      <li>GitHUb</li>
      <li>Gmail</li>
      <li>LinkedIn</li>
      <li>Skype</li>
    </ul>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, atque maxime distinctio
      hic mollitia, consequuntur molestiae, suscipit nesciunt aspernatur beatae in et eaque dicta
      iste at fugit. Hic, blanditiis fuga!
    </p>
  </div>
</header>
