<section class="projects">
  <div class="container">
    <div class="wrapper-projects">
      <div class="background-projects">
        <h3 class="projects__title">Project experience</h3>
      </div>

      <ul class="projects-list">
        <li class="projects-list__item">
          <h4 class="projects-list__name">Project name:</h4>
          <p class="projects-list__link">Project link:</p>
          <p class="projects-list__technologies">
            Technologies: HTML5 - CSS3 - JS - GULP - SASS – BEM
          </p>
          <p class="projects-list__about">
            About project: mobile-first adaptive web-page with authorization, profile page, ability
            to add new products and order confirmation.
          </p>
        </li>

        <li class="projects-list__item">
          <h4 class="projects-list__name">Project name:</h4>
          <p class="projects-list__link">Project link:</p>
          <p class="projects-list__technologies">
            Technologies: HTML5 - CSS3 - JS - GULP - SASS – BEM
          </p>
          <p class="projects-list__about">
            About project: mobile-first adaptive web-page with authorization, profile page, ability
            to add new products and order confirmation.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
