.add-education {
  margin-bottom: 50px;
}

.background-education--padding {
  position: relative;
  padding: 0px;
}

.education__title__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: white;
  text-align: center;
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  padding: 10px 40px;
}

.education-list--hidden {
  display: none;
}

.show-content {
  display: block;
}
